<div class="ember-collection-container" >
  {{~#each cells as |cell|~}}
    <div class="ember-list-item-view" style={{{cell.style}}}>{{#unless cell.hidden}}{{yield cell.item cell.index }}{{/unless}}</div>
  {{~/each~}}
</div>
