<h2 id="title">Ember Collection Demos</h2>

<p>These are the demos for the <a href="https://github.com/emberjs/ember-collection">ember-collection</a> addon. Their source code is within the the repo's <a href="https://github.com/emberjs/ember-collection/tree/master/tests/dummy/app">tests/dummy application</a>.</p>

<ul>
    <li>{{#link-to 'index'}}Index{{/link-to}}</li>
    <li>{{#link-to 'simple'}}Simple{{/link-to}}</li>
    <li>{{#link-to 'mixed'}}Mixed{{/link-to}}</li>
    <li>{{#link-to 'scroll-position'}}Scroll Position{{/link-to}}</li>
    {{!--
    <li>{{#link-to 'mobile'}}Mobile{{/link-to}} (TODO)</li>
    <li>{{#link-to 'mobile-large-images'}}Mobile Large Images{{/link-to}} (TODO)</li>
    <li>{{#link-to 'mobile-small-images'}}Mobile Small Images{{/link-to}} (TODO)</li>
    <li>{{#link-to 'multi-height'}}Multi Height{{/link-to}} (TODO)</li>
    <li>{{#link-to 'multi-height-multi-view'}}Multi Height - Multi View{{/link-to}} (TODO)</li>
    --}}
</ul>
{{outlet}}
