<div class="mixed" style="position:relative;height:500px">
  {{#ember-collection items=this.model estimated-height=800 estimated-width=500 buffer=10 cell-layout=(mixed-grid-layout this.model) as |item|}}
    <div class="list-item">
      {{item.name}}
    </div>
  {{/ember-collection}}
</div>
