<div class="mixed" style={{html-safe "position:relative;height:500px"}}>
  {{#ember-collection items=model estimated-height=800 estimated-width=500 buffer=10 cell-layout=(mixed-grid-layout model) as |item index|}}
    <div class="list-item">
      {{index}} - {{item.name}}
    </div>
  {{/ember-collection}}
</div>