<h3>Simple</h3>

<div class="simple-list">
  {{#ember-list items=model height=300 width=500 cell-layout=(grid-layout width=100 height=100) as |item index|}}
    {{item.name}}
  {{/ember-list}}
</div>
